[submodule "emmet-vim"]
	path = emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "python-mode"]
	path = python-mode
	url = git@github.com:klen/python-mode.git
[submodule "vim-test"]
	path = vim-test
	url = git@github.com:janko-m/vim-test.git
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:vim-airline/vim-airline.git
